<section class="hero-section" id="hero">
    <div class="container hero-container">
        <div class="hero-wrapper">
        <h1 class="hero-title">The Way Out</h1>
        <h2 class="hero-subtitle">Trapped. Cursed. Transformed.</h2>
        <p class="hero-text">Once a brave knight.<br/>
        Now a tiny bug.<br />
        A mischievous wizard has trapped you inside a matchbox labyrinth, stripping you of your armor and leaving only your
        wits.<br />
        There is no sword.<br />
        No magic spell.<br />
        Only the path you create.</p>
        <a class="home-link" href="https://play.google.com/store/games?hl=en">
            <img src="/img/hero/btn.png" alt="Google Play" loading="lazy">
        </a>
    </div>
           <picture>
               <source srcset="
                /img/hero/hero-desk.png 1x,
                /img/hero/hero-desk@2x.png 2x
                  " media="(min-width: 1440px)" />
            <source srcset="
                /img/hero/hero-mob.png 1x,
                /img/hero/hero-mob@2x.png 2x
                   " media="(max-width: 1439px)" />
             <img class="hero-img" src="/img/hero/hero-mob.png" alt="X-Demon" loading="lazy" />
           </picture>       
    </div>
</section>
<section class="story-section" id="story">
    <div class="container">
        <h2>A STORY OF TRANSFORMATION</h2>
        <h3>From Knight to Bug</h3>
        <p>So basically, The Way Out mixes storytelling with puzzle-solving in a pretty cool way.<br/>
        You are not just solving a maze — you are a fallen knight navigating a magical prison.<br />
        The wizard’s curse has shrunk you, forcing you to think differently. Strength no longer matters. Only logic and
        foresight remain.<br />
        Every level represents a new chamber within the enchanted matchbox.<br />
        You can't just stumble your way out - you've gotta actually build your escape route piece by piece.
</p>
    </div>
</section>
<section class="how-section" id="how">
    <div class="container how-container">
        <div class="how-wrapper">
            <h2>HOW TO PLAY</h2>
            <h3>Build the Path to Freedom</h3>
            <p class="how-text">The mechanics are easy to grasp:</p>
            <ul class="how-list">
                <li class="how-item">
                    <img src="/img/how/icon.png" alt="icon" loading="lazy">
                    <p class="how-item-text">Drag and drop labyrinth pieces onto the grid</p>
                </li>
                <li class="how-item">
                    <img src="/img/how/icon.png" alt="icon" loading="lazy">
                    <p class="how-item-text">Connect paths carefully</p>
                </li>
                <li class="how-item">
                    <img src="/img/how/icon.png" alt="icon" loading="lazy">
                    <p class="how-item-text">Avoid dead ends</p>
                </li>
                <li class="how-item">
                    <img src="/img/how/icon.png" alt="icon" loading="lazy">
                    <p class="how-item-text">Guide your character toward the exit</p>
                </li>
            </ul>
            <p class="how-text">But planning ahead is essential.<br/>
            Place tiles too quickly, and you may trap yourself.<br />
            Think carefully, and the route will reveal itself.<br />
            Sometimes you'll just have a gut feeling about where to place a tile, but you also need to think a few moves ahead.
</p>
        </div>
        <picture>
            <source srcset="
                        /img/how/how-desk.png 1x,
                        /img/how/how-desk@2x.png 2x
                          " media="(min-width: 1440px)" />
            <source srcset="
                        /img/how/how-mob.png 1x,
                        /img/how/how-mob@2x.png 2x
                           " media="(max-width: 1439px)" />
            <img class="how-img" src="/img/how/how-mob.png" alt="X-Demon" loading="lazy" />
        </picture>
    </div>
</section>
<section class="handcrafted-section" id="handcrafted">
    <div class="container handcrafted-container">
<div class="handcrafted-wrapper">
        <h2>HANDCRAFTED PUZZLES</h2>
        <h3>Small Board. Big Decisions.</h3>
        <p class="handcrafted-text handcrafted-text-one">We spent a lot of time making sure each level actually makes sense and isn't just thrown together.<br/>
        You’ll encounter:</p>
        <ul class="how-list">
            <li class="how-item">
               <img src="/img/how/icon.png" alt="icon" loading="lazy">
                <p>Narrow corridors</p>
            </li>
            <li class="how-item">
                <img src="/img/how/icon.png" alt="icon" loading="lazy">
                <p>One-way paths</p>
            </li>
            <li class="how-item">
                <img src="/img/how/icon.png" alt="icon" loading="lazy">
                <p>Blocked spaces</p>
            </li>
            <li class="how-item">
                <img src="/img/how/icon.png" alt="icon" loading="lazy">
                <p>Limited tile choices</p>
            </li>
        </ul>
        <p class="handcrafted-text">As difficulty increases, the puzzles demand sharper planning and deeper analysis.<br/>
        You'll pick it up in no time, but mastering it? That's a whole different story.
</p>
    </div>
<img class="handcrafted-img" src="/img/handcrafted/handcrafted.png" alt="HANDCRAFTED PUZZLES" loading="lazy">
    </div>
</section>
<section class="bite-secttion" id="bite">
    <div class="container bit-container">
        <div class="bit-wrapper">
            <h2>BITE-SIZED CHALLENGES</h2>
            <h3>Perfect for Short Sessions</h3>
            <p class="bite-text handcrafted-text">We built The Way Out so you can play however works for you.<br/>
            You can knock out a puzzle pretty quickly, which is perfect for:
</p>
        <ul class="how-list">
            <li class="how-item">
                <img src="/img/how/icon.png" alt="icon" loading="lazy">
                <p>Breaks during the day</p>
            </li>
            <li class="how-item">
                <img src="/img/how/icon.png" alt="icon" loading="lazy">
                <p>Commutes</p>
            </li>
            <li class="how-item">
                <img src="/img/how/icon.png" alt="icon" loading="lazy">
                <p>Quiet moments</p>
            </li>
            <li class="how-item">
                <img src="/img/how/icon.png" alt="icon" loading="lazy">
                <p>Evening wind-down time</p>
            </li>
        </ul>
        <p class="bite-text handcrafted-text">Even short levels feel meaningful because every tile matters.</p>
        </div>
        <div class="bite-img-wrapper">
            <img class="x1" src="/img/bite/x.png" alt="BITE-SIZED CHALLENGES" loading="lazy">
            <img class="x2" src="/img/bite/x.png" alt="BITE-SIZED CHALLENGES" loading="lazy">
            <img class="x3" src="/img/bite/x.png" alt="BITE-SIZED CHALLENGES" loading="lazy">
        </div>
    </div>
</section>
<section class="design-section" id="design">
    <div class="container disign-container">
        <h2>WHIMSICAL<br class="mob"/>
        FANTASY DESIGN</h2>
        <h3>Dark, Playful, Magical
</h3>
<p class="handcrafted-text up">The game features:</p>
<ul class="how-list">
    <li class="how-item">
        <img src="/img/how/icon.png" alt="icon" loading="lazy">
        <p>A charming bug-knight protagonist</p>
    </li>
    <li class="how-item">
        <img src="/img/how/icon.png" alt="icon" loading="lazy">
        <p>Wizard-themed aesthetic</p>
    </li>
        <li class="how-item">
            <img src="/img/how/icon.png" alt="icon" loading="lazy">
            <p>Rich purple and golden tones</p>
        </li>
            <li class="how-item">
                <img src="/img/how/icon.png" alt="icon" loading="lazy">
                <p>Soft magical glow effects</p>
            </li>
                <li class="how-item">
                    <img src="/img/how/icon.png" alt="icon" loading="lazy">
                    <p>Clean yet atmospheric UI</p>
                </li>
</ul>
<p class="handcrafted-text design-text">The art style really draws you in, but it doesn't get in the way of actually solving the puzzles.<br/>
There's definitely a magical vibe to it, but it keeps you focused on the puzzle-solving.
</p>
    </div>
</section>
<section class="startegy-section" id="strategy">
    <div class="container strategy-container">
        <div class="strategy-wrapper">
            <h2>STRATEGY OVER SPEED</h2>
            <h3>Think Before You Move
</h3>
<p class="handcrafted-text up">The Way Out rewards patience.<br/>
You’ll need to:
</p>
<ul class="how-list">
    <li class="how-item">
        <img src="/img/how/icon.png" alt="icon" loading="lazy">
        <p>Visualize the entire route</p>
    </li>
    <li class="how-item">
        <img src="/img/how/icon.png" alt="icon" loading="lazy">
        <p>Predict future tile placement</p>
    </li>
    <li class="how-item">
        <img src="/img/how/icon.png" alt="icon" loading="lazy">
        <p>Avoid blocking yourself</p>
    </li>
    <li class="how-item">
        <img src="/img/how/icon.png" alt="icon" loading="lazy">
        <p>Use limited pieces wisely</p>
    </li>
</ul>
<p class="handcrafted-text">There are no timers forcing rushed decisions.<br/>
Escape requires calm thinking.
</p>
        </div>
        <picture>
            <source srcset="
                        /img/startegy/startegy-desk.png 1x,
                        /img/startegy/startegy-desk@2x.png 2x
                          " media="(min-width: 1440px)" />
            <source srcset="
                        /img/startegy/startegy-mob.png 1x,
                        /img/startegy/startegy-mob@2x.png 2x
                           " media="(max-width: 1439px)" />
            <img class="startegy-img" src="/img/startegy/startegy-mob.png" alt="X-Demon" loading="lazy" />
        </picture>
    </div>
</section>
<section class="why-section" id="why">
    <div class="container why-container">
        <div class="why-wrapper">
            <h2>WHY THE WAY OUT<br class="mob"/>
            STANDS OUT
</h2>
<h3>A Puzzle with Personality</h3>
<p class="handcrafted-text up">The Way Out combines:</p>
<ul class="how-list">
    <li class="how-item">
        <img src="/img/how/icon.png" alt="icon" loading="lazy">
        <p>Narrative charm</p>
    </li>
    <li class="how-item">
        <img src="/img/how/icon.png" alt="icon" loading="lazy">
        <p>Strategic tile placement</p>
    </li>
    <li class="how-item">
        <img src="/img/how/icon.png" alt="icon" loading="lazy">
        <p>Minimal but atmospheric design</p>
    </li>
    <li class="how-item">
        <img src="/img/how/icon.png" alt="icon" loading="lazy">
        <p>Handcrafted level structure</p>
    </li>
    <li class="how-item">
        <img src="/img/how/icon.png" alt="icon" loading="lazy">
        <p>Logical progression</p>
    </li>
</ul>
<p class="handcrafted-text">It’s not just about finishing a maze.<br/>
It’s about building your own path to freedom.
</p>
        </div>
     <img class="why-img" src="/img/why/desk.png" alt="A Puzzle with Personality" loading="lazy">   
    </div>
</section>
<section class="reviews-sevtion" id="reviews">
    <div class="container">
        <h2>TESTIMONIALS</h2>
        <h3 class="revies-subtitle">What Players Are Saying</h3>
        <div class="swiper my-swiper">
            <div class="swiper-wrapper">
        
                <div class="swiper-slide reviews-slide">
                    <p class="reviews-text">“I love the story concept behind this game. Playing as a cursed knight turned bug adds personality to the puzzle
                    mechanics. The levels are simple at first, but quickly become challenging in a clever way. I find myself thinking
                    several moves ahead. It’s relaxing yet engaging.”</p>
                    <p class="reviews-author">Daniel M.</p>
                </div>
                <div class="swiper-slide reviews-slide">
                    <p class="reviews-text">“The tile placement mechanic is surprisingly deep. Even small boards require careful planning. I appreciate that there
                    are no timers — it allows me to focus fully on solving the maze. The fantasy theme adds a nice atmosphere. It feels
                    unique compared to other puzzle games.”</p>
                    <p class="reviews-author">Sophia L.</p>
                </div>
                <div class="swiper-slide reviews-slide">
                    <p class="reviews-text">“The handcrafted levels make a big difference. Each puzzle feels intentional rather than randomly generated. Some stages
                    really made me rethink my approach. The character design is charming. It’s simple but thoughtfully executed.”</p>
                    <p class="reviews-author">Marcus T.</p>
                </div>
                <div class="swiper-slide reviews-slide">
                    <p class="reviews-text">“I love the story concept behind this game. Playing as a cursed knight turned bug adds
                        personality to the puzzle
                        mechanics. The levels are simple at first, but quickly become challenging in a clever way. I find myself
                        thinking
                        several moves ahead. It’s relaxing yet engaging.”</p>
                    <p class="reviews-author">Daniel M.</p>
                </div>
                <div class="swiper-slide reviews-slide">
                    <p class="reviews-text">“The tile placement mechanic is surprisingly deep. Even small boards require careful
                        planning. I appreciate that there
                        are no timers — it allows me to focus fully on solving the maze. The fantasy theme adds a nice atmosphere. It
                        feels
                        unique compared to other puzzle games.”</p>
                    <p class="reviews-author">Sophia L.</p>
                </div>
                <div class="swiper-slide reviews-slide">
                    <p class="reviews-text">“The handcrafted levels make a big difference. Each puzzle feels intentional rather than
                        randomly generated. Some stages
                        really made me rethink my approach. The character design is charming. It’s simple but thoughtfully executed.”
                    </p>
                    <p class="reviews-author">Marcus T.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq-section" id="faq">
    <div class="container faq-container">
        <div class="faq-wrapper">
        <h2>FAQ</h2>
        <h3>Frequently Asked Questions</h3>
        <ul class="faq-acc">
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Is The Way Out difficult to learn?
        
                        <span class="faq-acc-arr arr-down">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 4V20" stroke="#F8A043" stroke-width="3" />
    <path d="M20 12L4 12" stroke="#F8A043" stroke-width="3" />
</svg>
                        </span>
                    </button>
                </h3>
        
                <p class="faq-acc-el-descr-frame">No. The core mechanics are simple and intuitive. Dragging and placing tiles is easy to understand within the first few
                levels. However, mastering the puzzles requires thoughtful planning and foresight. The difficulty increases gradually.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Are there time limits?
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 4V20" stroke="#F8A043" stroke-width="3" />
                                <path d="M20 12L4 12" stroke="#F8A043" stroke-width="3" />
                            </svg>
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">No, there are no countdown timers. You can analyze each grid calmly and plan your moves carefully. The focus is on
                strategy rather than speed. It's chill but still makes you think, you know?</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Are the levels randomly generated?
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 4V20" stroke="#F8A043" stroke-width="3" />
                                <path d="M20 12L4 12" stroke="#F8A043" stroke-width="3" />
                            </svg>
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Levels are handcrafted to ensure balanced difficulty and meaningful challenges. Each puzzle is intentionally designed to
                provide a logical solution. It really makes you think about each move.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Can I play offline?
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 4V20" stroke="#F8A043" stroke-width="3" />
                                <path d="M20 12L4 12" stroke="#F8A043" stroke-width="3" />
                            </svg>
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Yes. The Way Out supports offline gameplay. You can enjoy the puzzles anywhere without requiring an internet connection.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Is the game suitable for casual players?
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 4V20" stroke="#F8A043" stroke-width="3" />
                                <path d="M20 12L4 12" stroke="#F8A043" stroke-width="3" />
                            </svg>
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Yeah, definitely! If you just want something quick and fun, the first bunch of levels are perfect for that. More
                experienced puzzle fans will appreciate the later, more complex boards. I think most people will find something to enjoy
                here, whether you just want to kill a few minutes or you're really into challenging puzzles.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        How many levels are available?
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 4V20" stroke="#F8A043" stroke-width="3" />
                                <path d="M20 12L4 12" stroke="#F8A043" stroke-width="3" />
                            </svg>
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">The game includes numerous handcrafted puzzles with increasing complexity. Additional levels may be introduced in future
                updates. Trust me, you'll keep coming back for more - the difficulty ramps up just right.</p>
            </li>
        </ul>
        </div>
        <img class="faq-img" src="/img/faq/bar.png" alt="Bar" loading="lazy">
    </div>
</section>
<section class="final-section" id="final">
    <div class="container final-container">
<h2 class="final-title">Will You Escape the Matchbox?</h2>
<h3 class="final-subtitle">Place wisely.
Plan carefully.<br class="mob"/>
Break the wizard’s curse.</h3>
        <a class="home-link final-link" href="https://play.google.com/store/games?hl=en">
            <img src="/img/hero/btn.png" alt="Google Play" loading="lazy">
        </a>
        <p>Download The Way Out Today<br/>
        Available now on Google Play.</p>
    </div>
</section>