.footer {
  background: #13031a;
}
.footer-container{
  padding-bottom: 16px;
}
.footer-text-one {
font-size: 18px;
  color: #faedcf;
  margin-top: 20px;
}

.footer-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-navigation {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;

}

.footer-text {
  margin-top: 40px;
font-size: 11px;
text-align: right;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    padding-top: 40px;

  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer-title-wrapper {
    width: 308px;
  }

  .footer-list {
    margin-top: 0;
  }

  .footer-navigation {
    margin-top: 0;
      align-items: end; 
  }

  .footer-text {
    font-size: 12px;
    margin-top: 0;
  }
}